body {
    display: flex;
    justify-content: center;
    background-color: black;
    min-height: 810px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar {
    font-family: "Source Sans 3";
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    min-width: 260px;
}

.logo {
    font-family: "Baloo 2";
}

.title {
    font-family: "Poppins";
    font-size: 102px;
}

p {
    font-family: "Source Sans 3";
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 82px;
    }
}